In [1]:
import pandas as pd

In [2]:
webpage = 'https://bit.ly/HDSC-StageOneDataset'
df = pd.read_csv(webpage)
df.head()

                record_id  ...  fuel_cost_per_mmbtu
0   f1_fuel_1994_12_1_0_7  ...                1.121
1  f1_fuel_1994_12_1_0_10  ...                1.120
2   f1_fuel_1994_12_2_0_1  ...                1.650
3   f1_fuel_1994_12_2_0_7  ...                1.970
4  f1_fuel_1994_12_2_0_10  ...                2.570

[5 rows x 11 columns]

# Question 3

In [11]:
df.groupby('fuel_type_code_pudl').fuel_cost_per_unit_burned.mean()

fuel_type_code_pudl
coal         67.421830
gas          13.659397
nuclear    4955.157002
oil         168.877086
other        18.253856
waste        19.518122
Name: fuel_cost_per_unit_burned, dtype: float64

# Question 5

In [14]:
df.fuel_qty_burned.skew().round(2)

15.85

In [16]:
df.fuel_qty_burned.kurtosis().round(2)

651.37

# Question 4

In [26]:
df['fuel_mmbtu_per_unit'].describe().round(2)

count    29523.00
mean         8.49
std         10.60
min          0.00
25%          1.02
50%          5.76
75%         17.01
max        341.26
Name: fuel_mmbtu_per_unit, dtype: float64

# Question 10

In [43]:
df.groupby('fuel_cost_per_unit_delivered')['report_year'].mean().max()

2018.0